.search {
    background-color: rgba(31, 30, 30, 0.5);
    width: 90%;
    height: 10vh;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

    input {
        color: grey;
        background-color: rgba(31, 30, 30, 0.5);
    }

    button {
        background-color: rgba(31, 30, 30, 0.5);
        color: white;

        &:hover {
            background-color: $themeColor;
        }
    }


}